@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme inline {
  /* Content Colors */
  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-content-ultra: var(--content-ultra);
  --color-content-strong: var(--content-strong);
  --color-content-bold: var(--content-bold);
  --color-content-default: var(--content-default);
  --color-content-medium: var(--content-medium);
  --color-content-soft: var(--content-soft);
  --color-content-light: var(--content-light);
  --color-content-extra-light: var(--content-extra-light);
  --color-content-faint: var(--content-faint);
  --color-content-subtle: var(--content-subtle);
  --color-content-deep: var(--content-deep);
  --color-content-brand-strong: var(--content-brand-strong);
  --color-content-brand-light: var(--content-brand-light);
  --color-content-brand-faint: var(--content-brand-faint);
  --color-content-success-strong: var(--content-success-strong);
  --color-content-success-light: var(--content-success-light);
  --color-content-success-subtle: var(--content-success-subtle);
  --color-content-warning-strong: var(--content-warning-strong);
  --color-content-warning-light: var(--content-warning-light);
  --color-content-warning-subtle: var(--content-warning-subtle);
  --color-content-error-strong: var(--content-error-strong);
  --color-content-error-light: var(--content-error-light);
  --color-content-error-subtle: var(--content-error-subtle);
  --color-content-dark-fixed: var(--content-dark-fixed);
  --color-content-white-fixed: var(--content-white-fixed);

  /* Surface Colors */
  --color-main-bg: var(--main-bg);
  --color-surface-primary: var(--surface-primary);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-light: var(--surface-light);
  --color-surface-extra-light: var(--surface-extra-light);
  --color-surface-faint: var(--surface-faint);
  --color-surface-base-ultra: var(--surface-base-ultra);
  --color-surface-base-strong: var(--surface-base-strong);
  --color-surface-base-bold: var(--surface-base-bold);
  --color-surface-base-default: var(--surface-base-default);
  --color-surface-base-medium: var(--surface-base-medium);
  --color-surface-base-soft: var(--surface-base-soft);
  --color-surface-base-light: var(--surface-base-light);
  --color-surface-base-extra-light: var(--surface-base-extra-light);
  --color-surface-base-faint: var(--surface-base-faint);
  --color-surface-base-subtle: var(--surface-base-subtle);
  --color-surface-base-dark: var(--surface-base-dark);
  --color-surface-base-white: var(--surface-base-white);
  --color-surface-brand-strong: var(--surface-brand-strong);
  --color-surface-brand-default: var(--surface-brand-default);
  --color-surface-brand-subtle: var(--surface-brand-subtle);
  --color-surface-success-default: var(--surface-success-default);
  --color-surface-success-subtle: var(--surface-success-subtle);
  --color-surface-warning-default: var(--surface-warning-default);
  --color-surface-warning-subtle: var(--surface-warning-subtle);
  --color-surface-error-default: var(--surface-error-default);
  --color-surface-error-subtle: var(--surface-error-subtle);
  --color-surface-dark-fixed: var(--surface-dark-fixed);
  --color-surface-white-fixed: var(--surface-white-fixed);

  /* Border Colors */
  --color-border-primary: var(--border-primary);
  --color-border-soft: var(--border-soft);
  --color-border-light: var(--border-light);
  --color-border-extra-light: var(--border-extra-light);
  --color-border-faint: var(--border-faint);
  --color-border-medium: var(--border-medium);
  --color-border-brand: var(--border-brand);
  --color-border-deep: var(--border-deep);

  /* Background Colors */
  --color-background-dark: var(--background-dark);
  --color-background-white: var(--background-white);
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  /* Content Colors */
  --content-primary: #5B4BFF;
  --content-secondary: #DD00AC;
  --content-ultra: #020203;
  --content-strong: #22232A;
  --content-bold: #22232A;
  --content-default: #373842;
  --content-medium: #4E4E5C;
  --content-soft: #656678;
  --content-light: #7E7F94;
  --content-extra-light: #9798B6;
  --content-faint: #B1B3D0;
  --content-subtle: #CCCEEF;
  --content-deep: #FFFFFF;
  --content-brand-strong: #3D1D86;
  --content-brand-light: #693EE0;
  --content-brand-faint: #CAC0FF;
  --content-success-strong: #16643B;
  --content-success-light: #1DAF61;
  --content-success-subtle: #D0FBE9;
  --content-warning-strong: #7A2E0E;
  --content-warning-light: #DC6803;
  --content-warning-subtle: #FEF0C7;
  --content-error-strong: #AD1F2B;
  --content-error-light: #D02533;
  --content-error-subtle: #FFD5D8;
  --content-dark-fixed: #020203;
  --content-white-fixed: #FFFFFF;

  /* Surface Colors */
  --main-bg: #06060E;
  --surface-primary: #5B4BFF;
  --surface-secondary: #DD00AC;
  --surface-light: #FFFFFF;
  --surface-extra-light: #F0F0F0;
  --surface-faint: #FFFFFF;
  --surface-base-ultra: rgba(14, 18, 27, 0.48);
  --surface-base-strong: rgba(14, 18, 27, 0.40);
  --surface-base-bold: rgba(14, 18, 27, 0.32);
  --surface-base-default: rgba(14, 18, 27, 0.24);
  --surface-base-medium: rgba(14, 18, 27, 0.16);
  --surface-base-soft: rgba(14, 18, 27, 0.12);
  --surface-base-light: rgba(14, 18, 27, 0.08);
  --surface-base-extra-light: rgba(14, 18, 27, 0.06);
  --surface-base-faint: rgba(14, 18, 27, 0.04);
  --surface-base-subtle: rgba(34, 35, 42, 0.02);
  --surface-base-dark: #FFFFFF;
  --surface-base-white: #020203;
  --surface-brand-strong: #8C71F6;
  --surface-brand-default: #693EE0;
  --surface-brand-subtle: rgba(125, 82, 244, 0.20);
  --surface-success-default: #1DAF61;
  --surface-success-subtle: rgba(29, 175, 97, 0.15);
  --surface-warning-default: #DC6803;
  --surface-warning-subtle: rgba(220, 104, 3, 0.15);
  --surface-error-default: #E93544;
  --surface-error-subtle: rgba(233, 53, 68, 0.20);
  --surface-dark-fixed: #020203;
  --surface-white-fixed: #FFFFFF;

  /* Border Colors */
  --border-primary: #5B4BFF;
  --border-soft: rgba(14, 18, 27, 0.08);
  --border-light: rgba(14, 18, 27, 0.06);
  --border-extra-light: rgba(14, 18, 27, 0.04);
  --border-faint: rgba(34, 35, 42, 0.02);
  --border-medium: rgba(14, 18, 27, 0.16);
  --border-brand: #693EE0;
  --border-deep: #FFFFFF;

  /* Background Colors */
  --background-dark: #FFFFFF;
  --background-white: #020203;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Content Colors */
    --content-primary: #5B4BFF;
    --content-secondary: #DD00AC;
    --content-ultra: #FFFFFF;
    --content-strong: #CCCEEF;
    --content-bold: #B1B3D0;
    --content-default: #9798B6;
    --content-medium: #7E7F94;
    --content-soft: #656678;
    --content-light: #4E4E5C;
    --content-extra-light: #373842;
    --content-faint: #22232A;
    --content-subtle: #0F0F14;
    --content-deep: #020203;
    --content-brand-strong: #DCD5FF;
    --content-brand-light: #8C71F6;
    --content-brand-faint: #4C25A7;
    --content-success-strong: #D0FBE9;
    --content-success-light: #1DAF61;
    --content-success-subtle: #16643B;
    --content-warning-strong: #FEF0C7;
    --content-warning-light: #F79009;
    --content-warning-subtle: #7A2E0E;
    --content-error-strong: #FFC0C5;
    --content-error-light: #E93544;
    --content-error-subtle: #8B1822;
    --content-dark-fixed: #020203;
    --content-white-fixed: #FFFFFF;

    /* Surface Colors */
    --main-bg: #06060E;
    --surface-primary: #5B4BFF;
    --surface-secondary: #DD00AC;
    --surface-light: #22232A;
    --surface-extra-light: #0F0F14;
    --surface-faint: #181822;
    --surface-base-ultra: rgba(204, 206, 239, 0.48);
    --surface-base-strong: rgba(204, 206, 239, 0.40);
    --surface-base-bold: rgba(204, 206, 239, 0.32);
    --surface-base-default: rgba(204, 206, 239, 0.24);
    --surface-base-medium: rgba(204, 206, 239, 0.16);
    --surface-base-soft: rgba(204, 206, 239, 0.12);
    --surface-base-light: rgba(204, 206, 239, 0.08);
    --surface-base-extra-light: rgb(204, 206, 239, 0.06);
    --surface-base-faint: rgba(204, 206, 239, 0.04);
    --surface-base-subtle: rgba(204, 206, 239, 0.02);
    --surface-base-dark: #020203;
    --surface-base-white: #FFFFFF;
    --surface-brand-strong: #8C71F6;
    --surface-brand-default: #693EE0;
    --surface-brand-subtle: rgba(125, 82, 244, 0.20);
    --surface-success-default: #1DAF61;
    --surface-success-subtle: rgba(29, 175, 97, 0.15);
    --surface-warning-default: #DC6803;
    --surface-warning-subtle: rgba(220, 104, 3, 0.15);
    --surface-error-default: #E93544;
    --surface-error-subtle: rgba(233, 53, 68, 0.20);
    --surface-dark-fixed: #020203;
    --surface-white-fixed: #FFFFFF;

    /* Border Colors */
    --border-primary: #5B4BFF;
    --border-soft: rgba(204, 206, 239, 0.12);
    --border-light: rgba(204, 206, 239, 0.08);
    --border-extra-light: rgba(204, 206, 239, 0.06);
    --border-faint: rgba(204, 206, 239, 0.04);
    --border-medium: rgba(204, 206, 239, 0.40);
    --border-brand: #7D52F4;
    --border-deep: #020203;

    /* Background Colors */
    --background-dark: #020203;
    --background-white: #FFFFFF;
  }
}

/* Dynamic Content Style */
@utility prose-dapp {
  --tw-prose-body: var(--color-content-bold);
  --tw-prose-headings: var(--color-content-strong);
  --tw-prose-lead: var(--color-pink-700);
  --tw-prose-links: var(--color-content-primary);
  --tw-prose-bold: var(--color-content-bold);
  --tw-prose-counters: var(--color-content-strong);
  --tw-prose-bullets: var(--color-content-bold);
  --tw-prose-hr: var(--color-border-soft);
  --tw-prose-quotes: var(--color-content-strong);
  --tw-prose-quote-borders: var(--color-border-soft);
  --tw-prose-captions: var(--color-content-strong);
  --tw-prose-code: var(--color-content-ultra);
  --tw-prose-pre-code: var(--color-content-strong);
  --tw-prose-pre-bg: var(--color-surface-light);
  --tw-prose-th-borders: var(--color-border-soft);
  --tw-prose-td-borders: var(--color-border-soft);
  --tw-prose-invert-body: var(--color-content-white-fixed);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-pink-300);
  --tw-prose-invert-links: var(--color-content-primary);
  --tw-prose-invert-bold: var(--color-content-white-fixed);
  --tw-prose-invert-counters: var(--color-content-strong);
  --tw-prose-invert-bullets: var(--color-content-bold);
  --tw-prose-invert-hr: var(--color-border-soft);
  --tw-prose-invert-quotes: var(--color-content-strong);
  --tw-prose-invert-quote-borders: var(--color-border-soft);
  --tw-prose-invert-captions: var(--color-content-strong);
  --tw-prose-invert-code: var(--color-content-ultra);
  --tw-prose-invert-pre-code: var(--color-content-ultra);
  --tw-prose-invert-pre-bg: var(--color-surface-light);
  --tw-prose-invert-th-borders: var(--color-border-soft);
  --tw-prose-invert-td-borders: var(--color-border-soft);
}

body {
  font-family: var(--font-inter);
  background: var(--main-bg);
}

@layer utilities {
  .container {
    @apply max-w-[1320px];
  }
}

/* link hover underline effect */
.lcai-link-hover {
  @apply relative hover:text-content-brand-light after:content-[''] after:absolute after:bottom-0 after:left-auto after:right-0 hover:after:right-auto hover:after:left-0 after:w-0 hover:after:w-full after:h-0.5 after:bg-surface-brand-default transition-all duration-300 ease-in-out after:transition-all after:duration-300 after:ease-in-out;
}

/* global transition effect */
.lcai-transition {
  @apply transition-all duration-300 ease-in-out;
}

/* Footer TextPressure */
.text-pressure-container .footer-gradient-text {
  background: linear-gradient(80deg, #7064e9 -5.02%, #dd00ac 50.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent !important;
}

.text-pressure-container .footer-gradient-text span {
  color: transparent !important;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 479px) {
  .text-pressure-container {
    height: 70px !important;
    padding: 0 16px !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .text-pressure-container {
    height: 100px !important;
    padding: 0 48px !important;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-pressure-container .footer-gradient-text span {
    letter-spacing: 10px;
    font-size: 36px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .text-pressure-container {
    height: 150px !important;
    padding: 0 48px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .text-pressure-container {
    height: 200px !important;
    padding: 0 48px !important;
  }
}

@keyframes dotted-line-flow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(28px);
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}